doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="/bootstrap/css/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bootstrap/css/flat-ui.min.css", rel="stylesheet")
  body
    block content
    script(src="/bootstrap/js/vendor/jquery.min.js")
    script(src="/bootstrap/js/flat-ui.min.js")